html body {
    margin: 0;
    background-color: dimgrey;
}

.graphic_container {
    display: grid;
    grid-template-columns: repeat(3, auto);

}
.graphic {
    border-radius: 50%;
    width: 50%;
    height: auto;
    border: 20px solid rgb(49, 49, 49);
    margin: auto;
    margin-top: 20px;
}
#banner {
    width: 100%;
    height: 80%;
}

